
p{

font-family: "courier","times new roman";

}

h1{
  text-align: center;
}

h1,h2,h3{

font-family:"courier";
text-decoration: underline;
font-weight: bold;

}



.li-box{

height:10px;
display: inline-block;
width:10px;

background-color:black;

}

li{
  font-family: "courier","times new roman";
}

.margin{
  margin-left: 10%;
  margin-right: 10%;
}

img{
  margin-top: 3%;
  margin-left: 37%;
  height: 25%;
  width: 25%;
}

body{
   background: url("brickwall.png");
   font-family: "courier","times new roman";
 }
